<app-header></app-header>

<div class="main-layout">
  <!-- Sidebar -->
  <nav class="sidebar">
    <ul>
      <li><a class="active" href="/home">Početna stranica</a></li>
      <li><a href="/assigned">Moje utakmice</a></li>
      <li><a href="/absence">Odsustvo</a></li>
      <li><a href="/expenses">Putni troškovi</a></li>
      <li><a href="/rules">Dokumenti</a></li>
      <li><a href="/exams">Ispiti</a></li>
      <li><a href="#">Upute za korištenje sustava</a></li>
    </ul>
  </nav>

  <!-- Content -->
  <section class="content">
    <div class="description">
      <h2>Basketball Association Information System (IS)</h2>
      <p>
        Informacijski sustav Košarkaškog udruženja (IS) platforma je namijenjena upravljanju i pojednostavljivanju operacija vezanih uz košarku. Sadrži značajke za upravljanje igrama, licencama, izjavama i još mnogo toga.
      </p>
    </div>

    <div class="user-data">
      <h3>Osobni Podatci</h3>
      <ul>
        <li><strong>Korisničko ime:</strong> {{user?.username}}</li>
        <li><strong>Ime:</strong> {{user?.name}} {{user?.surname}}</li>
        <li><strong>ID:</strong> {{user?.personalCode}}</li>
        <li><strong>Email:</strong> {{user?.email}}</li>
        <li><strong>Uloga:</strong> {{user?.role}}</li>
      </ul>
    </div>
  </section>
</div>

<app-footer></app-footer>
